
.main-navbar {
    position: relative;
    background-color: #F44336;
    color: white;
    z-index: 10;
}

.main-navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 42px;
}

.main-navbar-content {
    padding: 4px 16px;
}

.icon {
    position: relative;
    width: 32px;
    height: 32px;
}

.icon img {
    position: absolute;
    top: 4px;
    left: 4px;
}
.hidden{
display:none;
}

#toggle-sidebar{
z-index:6000;
}

#close-sidebar{
background-color: black;
color: white;
padding: 20px;
z-index:6010;
cursor: pointer;
}

.content-pushed{
position: relative;
margin-left: 200px;
width: auto;
}

@media (min-width: 750px) {
.content-pushed{
margin-left: 30%;
}
}

.main-sidebar {
    position: fixed;
    top: -40;
    bottom: 0;
    background-color: #980c0c;
    color: white;
     height: 100%; 
    width: 200px;
    z-index: 9000;
    overflow:auto;
}

@media (min-width: 750px) {
.main-sidebar {
width: 30%;
}
}

.main-sidebar a:link {
    color: #ffeb3b;
}
.main-sidebar a:visited {
    color: #ff9800;
}
.main-sidebar a:hover {
    color: #fbc02d;
}
.main-sidebar a:active {
    color: #ffc107;
}
.main-sidebar .section {
    margin: 1em 0;
    margin-bottom: 2em !important;
}

.main-sidebar-right {
    right: 0;
    text-align: right;
}
.main-sidebar-left {
    left: 0;
    text-align: left;
}

[data-simplersidebar="sbwrapper"] {
    padding: 1em;
}

.dynamic-right .main-navbar-content {
    float: right;
}

.dynamic-left .main-navbar-content {
    float: left;
}

.main-sidebar-wrapper {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
}
